
@media (max-width: 1200px) {
    .container {
        justify-content: flex-start;
        width: 95%;
    }
    .right-sidebar {
        display: none;
    }
}
@media (max-width: 1000px) {
    .header .user {
        display: none;
    }
    .navigation-panel {
        display: none;
    }
}
@media (max-width: 850px) {
    .menu-sidebar {
        position: fixed;
        top: 46px;
        left: 0;
        padding-left: 2%;
        max-width: 250px;
        width: 100%;
        height: 100%;
        padding-top: 12px;
        background: #f1f1f1;
        transform: translateX(-100%);
        transition: transform 0.2s;
    }
    .menu-sidebar.active {
        transform: translateX(0%);
    }
    .m-menu {
        display: flex;
    }    
}
@media (max-width: 600px) {
    .search {
        display: none;
    }
}
